/*menu*/
.menupetshop {
  width: 100%;
  background-color: #cdeac0;
}
.menupetshop a {
  font-family: "Lilita One", sans-serif;
  font-size: larger;
  color: black;
}
.menupetshop span {
  font-family: "Lilita One", sans-serif;
  font-size: larger;
  color: black;
}

/*Pagina Inicio*/
/*carousel*/
.carousel-item {
  max-height: 527px;
}

/*titulo*/
.tituloPrincipal h1 {
  font-family: "Lilita One", sans-serif;
  color: black;
}

/*mini textitos*/
.textitos .miniTitulos {
  font-family: "livvic";
  color: black;
  font-size: larger;
}

/*tienda inicio*/
.tiendaInicio .promosMes h2 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaInicio .productosDestacados h2 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaInicio .tiendaPromos a {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}
.tiendaInicio .tiendaDestacados a {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}
.tiendaInicio p {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaInicio h5 {
  font-family: "livvic";
  color: #e28657;
  font-size: larger;
}

/*footer*/
.footerPet {
  width: 100%;
  background-color: #cdeac0;
}
.footerPet .textosFooter {
  font-family: "Lilita One", sans-serif;
  font-size: larger;
}
.footerPet .iconosFooter {
  width: 100%;
  text-align: left;
}

/*pagina perros*/
.tituloPerros h1 {
  font-family: "Lilita One", sans-serif;
  color: black;
}

/*tienda perros*/
.tiendaPerros a {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}
.tiendaPerros h5 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaPerros p {
  font-family: "livvic";
  color: #e28657;
  font-size: larger;
}

/*pagina gatos*/
.tituloGatos h1 {
  font-family: "Lilita One", sans-serif;
  color: black;
}

/*tienda gatos*/
.tiendaGatos a {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}
.tiendaGatos h5 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaGatos p {
  font-family: "livvic";
  color: #e28657;
  font-size: larger;
}

/*pagina accesorios*/
.tituloAccesorios h1 {
  font-family: "Lilita One", sans-serif;
  color: black;
}

/*tienda accesorios*/
.tiendaAccesorios a {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}
.tiendaAccesorios h5 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.tiendaAccesorios p {
  font-family: "livvic";
  color: #e28657;
  font-size: larger;
}

/*pagina contacto*/
.tituloContacto h1 {
  font-family: "Lilita One", sans-serif;
  color: black;
}

.textitosContacto {
  font-family: "livvic";
  color: black;
  font-size: larger;
}
.textitosContacto i {
  width: 100%;
  text-align: left;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 500px;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.formularioContacto {
  display: inline-block;
}
.formularioContacto h2 {
  font-family: "Lilita One", sans-serif;
  color: black;
}
.formularioContacto h5 {
  font-family: "Lilita One", sans-serif;
  color: black;
  font-size: larger;
}
.formularioContacto input {
  font-family: "livvic";
  color: black;
  border-color: #FFAC81;
}
.formularioContacto textarea {
  border-color: #FFAC81;
}
.formularioContacto label {
  font-family: "Lilita One", sans-serif;
  color: #8da980;
}
.formularioContacto button {
  text-decoration: none;
  color: white;
  background-color: #FEC3A6;
  border-color: #FEC3A6;
}

/*# sourceMappingURL=style.css.map */
