@import "./partials/variables";


/*menu*/
.menupetshop{
    width: $ancho;
    background-color:#cdeac0;
    
    
    a{
        font-family: $fuente; 
        font-size: larger;
        color: $color; 
    }  

    span{
        font-family: $fuente; 
        font-size: larger; 
        color: $color;
    }
    
}

/*Pagina Inicio*/

/*carousel*/
.carousel-item{
    max-height: 527px ;
   
}

/*titulo*/
.tituloPrincipal{
    
    h1{
        font-family:$fuente;
        color: $color;
    }
}

/*mini textitos*/
.textitos{
   
    .miniTitulos{
        font-family: 'livvic';
        color: $color;
        font-size: larger;
    }
}

/*tienda inicio*/
.tiendaInicio{

    .promosMes{
        h2{
            font-family:$fuente;
            color: $color;
            
        }
        
    }

    .productosDestacados{
    
        h2{
            font-family:$fuente;
            color: $color; 
        }
    }

    .tiendaPromos{
        a{
            text-decoration: none;
            color:white;
            background-color:#FEC3A6 ;
            border-color: #FEC3A6;
           } 
    }
    
    .tiendaDestacados {
        
        a{
            text-decoration: none;
            color:white;
            background-color:#FEC3A6 ;
            border-color: #FEC3A6;
        }
      
     }

     p{
        font-family: $fuente;
        color: $color;
       }

    h5{
        font-family: 'livvic';
        color:#e28657;
        font-size: larger;
       }

}

/*footer*/
.footerPet{
    width: $ancho;
    background-color:#cdeac0;

    .textosFooter{
        font-family: $fuente;
        font-size: larger;
    }

    .iconosFooter{
        width: $ancho;
        text-align: left;
    }
}

/*pagina perros*/

.tituloPerros{
    h1{
        font-family: $fuente;
        color: $color;
    }
}

/*tienda perros*/
.tiendaPerros {
    
   a{
    text-decoration: none;
    color:white;
    background-color:#FEC3A6 ;
    border-color: #FEC3A6;
   } 

   h5{
    font-family:$fuente;
    color: $color;
   }

   p{
    font-family: 'livvic';
    color:#e28657;
    font-size: larger;
   }
 
}

/*pagina gatos*/

.tituloGatos{
    h1{
        font-family: $fuente;
        color: $color;
    }
}

/*tienda gatos*/
.tiendaGatos{
    a{
        text-decoration: none;
        color:white;
        background-color:#FEC3A6 ;
        border-color: #FEC3A6;
       } 
    
       h5{
        font-family:$fuente;
        color: $color;
       }
    
       p{
        font-family: 'livvic';
        color:#e28657;
        font-size: larger;
       }
}

/*pagina accesorios*/

.tituloAccesorios{
    h1{
        font-family:$fuente;
        color: $color;
    }
}

/*tienda accesorios*/
.tiendaAccesorios{
    a{
        text-decoration: none;
        color:white;
        background-color:#FEC3A6 ;
        border-color: #FEC3A6;
       } 
    
       h5{
        font-family: $fuente;
        color: $color;
       }
    
       p{
        font-family: 'livvic';
        color:#e28657;
        font-size: larger;
       }
}

/*pagina contacto*/

.tituloContacto{
    h1{
        font-family:'Lilita One', sans-serif;
        color: $color;
    }
}

.textitosContacto{
    font-family: 'livvic';
    color: $color;
    font-size: larger;

    i{
        width: $ancho;
        text-align: left;
    }

}

.map-responsive{
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 0;
    
    iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: $ancho;
        position: absolute; 
     }
}

.formularioContacto{
    display: inline-block;
     h2{
        font-family: $fuente;
        color: $color;
     }

     h5{
        font-family:$fuente;
        color: $color;
        font-size: larger;
     }

     input{
        font-family: 'livvic';
        color: $color;
        border-color:#FFAC81;
     }

     textarea{
        border-color:#FFAC81;
     }

     label{
        font-family: $fuente;
        color:#8da980; 
     }

     button{
        text-decoration: none;
        color:white;
        background-color:#FEC3A6 ;
        border-color: #FEC3A6;
        
     }
}




