@import "./partials/variables";


/*menu*/
.menupetshop{
    width: $ancho;
    background-color:#cdeac0;

    span{
        font-family: $fuente; 
        font-size: larger; 
        color: $color;
    }
     
    a{
       @extend span;
       text-decoration: none;
    }     
    
}

/*Pagina Inicio*/

/*carousel*/
.carousel-item{
    max-height: 527px ;   
}

/*titulo*/
.tituloPrincipal{
    
    h1{
        @include tituloPrincipal ('Lilita One' , black )
    }
}

/*mini textitos*/
.textitos{
   
    .miniTitulos{
       @include textitos ('livvic' , black , larger ) 
    }
}

/*tienda inicio*/
.tiendaInicio{

    .promosMes{
        h2{
          @include promosMes ('Lilita One' , black )    
        }
        
    }

    .productosDestacados{
        @extend .promosMes;
    }

    .tiendaPromos{
        a{
           @include tiendaPromos (none , white , #FEC3A6 , #FEC3A6 ) 
        } 
    }
    
    .tiendaDestacados {
        
        a{
          @extend .tiendaPromos;
        }
      
     }

     p{
        @include pTiendaInicio ('Lilita One' , black )
       }

     h5{
       @include h5TiendaInicio ('livvic' , #e28657 , larger )
       }

}

 /*footer*/
 
.footerPet{
    width: $ancho;
    background-color: $color4;

    .textosFooter{
        font-family: $fuente;
        font-size: $tamañofuente;
    }

    .iconosFooter{
        width: $ancho;
        text-align: left;
    }
}

/*pagina perros*/

.tituloPerros{
    h1{
     @include tituloPerros  ('Lilita One' , black ) 
    }
}

/*imagen Perros*/

.imagenPerros{
    width:$ancho;
}

/*tienda perros*/
.tiendaPerros {
    
   a{
    @include a1( none , white ,  #FEC3A6 ,  #FEC3A6  )
   } 

   h5{
   @include h5( 'Lilita One' , black )
   }

   p{
   @include p1( 'livvic' , #e28657 , larger )
   }
 
}

/*pagina gatos*/

.tituloGatos{
    @extend .tituloPerros;
}

/*imagen Gatos*/
.imagenGatos{
    width: $ancho
}

/*tienda gatos*/
.tiendaGatos{
  @extend .tiendaPerros;
}

/*pagina accesorios*/

.tituloAccesorios{
    @extend .tituloPerros;
}

/*imagen Accesorios*/
.imagenAccesorios {
    width: $ancho;
}

/*tienda accesorios*/
.tiendaAccesorios{
    @extend .tiendaPerros;
}

/*pagina contacto*/

.imagenContacto{
    width:$ancho;
}

.tituloContacto{
    @extend .tituloPerros;
}

.textitosContacto{
    @include textitosContacto( 'livvic' , black , larger );

    i{
        width: $ancho;
        text-align:left;
    }

}

.map-responsive{
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 0;
    
    iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: $ancho;
        position: absolute; 
     }
}

.formularioContacto{
    display: inline-block;
     h2{
      @include h2Form ( 'Lilita One' , black )
     }

     h5{
       @include h5Form ( 'Lilita One' , black, larger )
     }

     input{
        @include inputForm ( 'livvic' , black ,  #FFAC81 )
     }

     textarea{
        border-color:$color6;
     }

     label{
        @include label ( 'Lilita One' , #8da980 )
     }

     button{
        text-decoration: none;
        color:white;
        background-color:#FEC3A6 ;
        border-color: #FEC3A6;   
     }
}




