$fuente:'Lilita One', sans-serif;
$fuente2:'livvic';
$tamañofuente: larger; 
$ancho: 100%;
$color: black;
$color2: white;
$color3:#e28657;
$color4: #cdeac0;
$color5: #8da980;
$color6:#FFAC81;
$fondo: #FEC3A6;
$fondo2: #cdeac0;
$borde: #FEC3A6; 
$textdeco: none;


@mixin tituloPrincipal ($fuente , $color ){
    font-family:$fuente;
    color: $color;
}

@mixin textitos ($fuente2 , $color , $tamañofuente ){
    font-family: $fuente2;
    color: $color;
    font-size: $tamañofuente;
}   

@mixin promosMes ($fuente , $color ){
    font-family:$fuente;
    color: $color; 
}

@mixin tiendaPromos ($texdeco , $color2 , $fondo , $borde ){
    text-decoration: $textdeco;
    color: $color2;
    background-color: $fondo;
    border-color: $borde;
}

@mixin pTiendaInicio ($fuente , $color ){
    font-family: $fuente;
    color: $color;
}

@mixin h5TiendaInicio ($fuente2 , $color3 , $tamañofuente ){
    font-family:$fuente2;
    color: $color3;
    font-size: $tamañofuente;
}

@mixin tituloPerros ($fuente , $color ){
    font-family: $fuente;
    color: $color;
}

@mixin a1 ($textdeco , $color2 , $fondo , $borde ){
    text-decoration: $textdeco;
    color: $color2;
    background-color:$fondo;
    border-color:$borde;
}

@mixin h5 ($fuente , $color ){
    font-family: $fuente;
    color: $color;
}

@mixin p1 ($fuente2 , $color3 , $tamañofuente ){
    font-family: $fuente2;
    color: $color3;
    font-size: $tamañofuente;

}

@mixin textitosContacto ($fuente2 , $color , $tamañofuente ){
    font-family: $fuente2;
    color: $color;
    font-size: $tamañofuente;
}

@mixin h2Form ( $fuente , $color ){
    font-family: $fuente;
    color: $color;
}

@mixin h5Form ( $fuente , $color , $tamañofuente ){
    font-family:$fuente;
    color: $color;
    font-size: $tamañofuente;
}

@mixin inputForm ( $fuente2 , $color , $color6 ){
    font-family: $fuente2;
    color: $color;
    border-color: $color6;
}

@mixin label ( $fuente , $color ){
    font-family: $fuente;
    color: $color5; 
}



